.jumbotron, .forecast h2 {
  text-align: center;
  margin-bottom: 30px;
}

#location {
  width: 20%;
}

.forecast {
  display: none;
}

img {
  width: 50px;
  display: block;
  margin: auto;
}

.no-margin {
  margin: 0;
}

.btn-primary {
  display: block;
}

.thumbnail {
  box-shadow: 0px 4px 7px black;
}
