$blue : #83D2F6;
$purple : #a95873;

.thumbnail {
  background: #20002c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #cbb4d4, #20002c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 0;
  border-color: #20002c;
}

.thumbnail:hover {
  box-shadow: 0 4px 10px black;
}

.thumbnail .caption {
  color: white;
}

.alert {
  display: none;
  margin-top: 2%;
}

.btn {
  text-align: center;
  color: white;
}

.jumbotron {
  border-bottom: 5px solid black;
  height: 500px;
  background-image: url('http://kidsahead.com/system/ka_heros/5/original/Thunderstorms.jpg?1362156266');
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.jumbotron h1 {
  margin-top: 20%;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 7em;
  text-shadow: 0 5px 10px black;
}

.jumbotron h4 {
  font-family: 'Roboto';
  font-weight: 200;
  text-shadow: 0 5px 10px black;
}

.button-group {
  text-align: center;
}

label {
  display: block;
  text-align: center;
}

.showFarenheit {
  display: none;
  padding: 10% 0;
}

.center-text {
  text-align: center;
}

#map-viewport {
  height: 263px;
}

#cityName {
  font-family: 'Roboto', sans-serif;
  font-size: 2.5em;
  color: white;
  text-align: center;
  // text-shadow: 0 2px 6px black;
  padding-top: 10px;
}

#currentTemp {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 3em;
}

#currentDay {
  margin-top: 0;
}

.forecast {
  text-align: center;
  margin-bottom: 30px;
}

.forecast h2 {
  margin-bottom: 5%;
}

#location {
  width: 25%;
  margin-left: 37.4%;
  margin-bottom: 1%;
  padding: .5%;
  border-radius: 4px;
  border: 1px solid $purple;
}

.forecast {
  display: none;
}

img {
  width: 50px;
  display: block;
  margin: auto;
}

.no-margin {
  margin: 0;
}

.btn-primary {
  display: block;
}

#hide-btn {
  margin-left: 20px;
}

.footer {
  margin-top: 100px;
  height: 300px;
  background: #f3904f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f3904f, #3b4371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f3904f, #3b4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
